
@using System.Web.Optimization;

<!DOCTYPE html>

<html ng-app="app">
<head>
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/CommonCss")
    @Styles.Render("~/Content/Style")

</head>
<body >
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</body>
</html>
